.blue{
    background-color: ghostwhite;
}

.highlight{
  background-color: pink; 
}

/deep/ .mat-tooltip {
  font-size: 13px;
}
/deep/ #mat .mat-paginator-container{
  justify-content:flex-start;
}

ul{ 
    list-style-type: none; 
}
