<div class="container">
    <div class="row">
        <hr>
        <div class="questionResultsTable col">
            <br>
            <b>Filter Results:</b>
            <br>

            <table mat-table #table [dataSource]="dataSource" matSort class="mat-elevation-z8 resultsTable">

                <!-- Position Column -->
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                    <td mat-cell *matCellDef="let element">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a id="hide-bullet" class="nav-link" [routerLink]="['question-page']">{{element.position}}<span class="sr-only">(current)</span></a>
                            </li>
                        </ul>

                </ng-container>

                <!-- Exam Column -->
                <ng-container matColumnDef="exam">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Exam </th>
                    <td mat-cell *matCellDef="let element" style="padding-right: 4%;"> {{element.exam}} </td>
                </ng-container>

                <!-- Exam Date Column -->
                <ng-container matColumnDef="examDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Exam Date</th>
                    <td mat-cell *matCellDef="let element"> {{element.examDate}} </td>
                </ng-container>

                <!-- Question Type Column -->
                <ng-container matColumnDef="questionType">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Question Type </th>
                    <td mat-cell *matCellDef="let element"> {{element.questionType}} </td>
                </ng-container>

                <!-- Difficulty Column -->
                <ng-container matColumnDef="difficulty">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Difficulty </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.difficulty}} </td>
                </ng-container>

                <!-- Question Cognition Column -->
                <ng-container matColumnDef="questionCognitive">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Question Cognition </th>
                    <td mat-cell *matCellDef="let element"> {{element.questionCognitive}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; let even = even; columns: displayedColumns" [ngClass]="{'blue': even, 'highlight': selectedRowIndex == row.position}" matTooltip={{dataFromService}} [matTooltipPosition]="'right'" (click)="onRowClicked(row)" (mouseover)='over(row)'>
                </tr>

            </table>

            <mat-paginator id='mat' [length]="5" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 50, 100]" showFirstLastButtons class="paginator">
            </mat-paginator>
            
        </div>

    </div>
    <button (click)="update()">click</button>
</div>