<!--The content below is only a placeholder and can be replaced.-->
<div id="bartop">
    <app-topbar></app-topbar>
</div>
<div id="barleft">
    <app-sidebar></app-sidebar>
    <div style="text-align:center">
        <h3>
        {{ title }}
        </h3>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="graphContainer">
                <app-bar-graph></app-bar-graph>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="tableContainer">
                <question-table></question-table>
            </div>
        </div>
    </div>

    <div class="btnContainer">
        <button class="btn btn-primary">bootstrap works?</button>
    </div>
</div>
</div>
