<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: ghostwhite;">
	<a class="navbar-brand" href="#">Exam Statistics Search Tool</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
	  <ul class="navbar-nav mr-auto">
		<li class="nav-item">
		  <a class="nav-link" href="#">Exam Search<span class="sr-only">(current)</span></a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" href="#">Question Search</a>
		</li>
	  </ul>
	</div>
  </nav>
<div id="container">
	<div style="text-align:center">
		<h3>
				{{ title }}
		</h3>
	</div>
	<div class="filterContainer">
		<app-filter></app-filter>
	</div>
	<router-outlet>
	</router-outlet>
	<div class="row">
		<div class="col-6">
	  		<div class="tableContainer">
	        	<question-table></question-table>
	  		</div>
		</div>
		<div class="col-6" >
			<div class="graphContainer">
       			<app-bar-graph></app-bar-graph>
    	    </div>
		</div>
	</div>
</div>
