/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family:"Trebuchet MS", sans-serif; }
#container {
    display: grid;
    grid-template-columns: auto;
    height: 0%;
    padding: 20px 100px;
}
