/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
     margin: 0;
     background: #F2F2F2;
     font-family: sans-serif;
     height: 98vh;
     width: 98.5vw;
}

#barleft {
    display: grid;
    grid-template-columns: 70px auto;
    height: 99%;
}
#bartop {
    display: grid;
    grid-template-rows: 20px auto;
    width: 100%;
}
ul {
    list-style-type: none;
    margin:0;padding:0;
}
        
li {
    background: #fff;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 4px;
}
        
 a {
    font-size: 1.5em;
    text-decoration: none;
    font-weight: bold;
    color:#00A8FF;
}
        
ul {
    margin-top: 10px;
}