<div style="text-align:center">
  <h3>
    Question Data for Question ID:
    {{QID}}
  </h3>
<br>
<mat-card class="card">
  <div class="question-details">
    <app-question-details></app-question-details>
  </div>
</mat-card>
<br>
<mat-card class="card">
  <div class="row">
    <div class="col-6">
      <div class="question-stats">
        <app-question-stats></app-question-stats>
      </div>
    </div>
    <div class="col-6">
      <div class="graphFilterContainer">
        <app-question-page-graph-filter></app-question-page-graph-filter>
      </div>
      <div class="graphContainer">
        <app-question-page-graph></app-question-page-graph>        
      </div>
    </div>
  </div>
</mat-card>
</div>