<div *ngIf="results">
    <div style="text-align:center">
        <h3><b>
        Question Search
        </b></h3>
    </div>
    <div *ngIf="results">
        <div class="filterContainer">
            <app-filter></app-filter>
        </div>
    </div>
    <div *ngIf="results">
        <div class="row">
            <div class="col-6">
                <div class="tableContainer">
                    <question-table></question-table>
                </div>
            </div>
            <div class="col-6">
                <div class="graphContainer">
                    <app-bar-graph></app-bar-graph>        
    </div>
  </div>
</div>
</div>
</div>
