<div class="container">



    <mat-card class="card">
        <div class="row">
            <div class="filterLeftSide col">

                <hr>
                <div class="filterQType">
                    Exam:
                    <br>
                    <mat-radio-group>
                        <mat-radio-button value="allExams" class="rbSpace">All Exams</mat-radio-button>
                        <mat-radio-button value="myExams" class="rbSpace">Only my exams</mat-radio-button>
                    </mat-radio-group>
                </div>
                <hr>
                <div class="filterExamPick">
                    Exam #:
                    <br>
                    <mat-radio-group class="example-radio-group" [(ngModel)]="selectedExam">
                        <mat-radio-button class="example-radio-button rbSpace" *ngFor="let exam of exams" [value]="exam">
                            {{exam}}
                            <br>
                        </mat-radio-button>
                        <br>
                    </mat-radio-group>
                    <!--<div class="example-selected-value">Your selected exam is: {{selectedExam}}</div>-->
                </div>
                <hr>

                <div class="filterQType">
                    Question Type:
                    <br>
                    <mat-radio-group [(ngModel)]="selectedType">
                        <mat-radio-button value="1" class="rbSpace" (click)="filterResults()">Multiple Choice</mat-radio-button>
                        <mat-radio-button value="2" class="rbSpace" (click)="filterResults()">Programming</mat-radio-button>
                    </mat-radio-group>
                </div>
                <hr>
                <div class="filterQDifficulty">
                    Question Difficulty:
                    <br>
                    <mat-radio-group [(ngModel)]="selectedDifficulty">
                        <mat-radio-button value="1" class="rbSpace" (click)="filterResults()">1</mat-radio-button>
                        <mat-radio-button value="2" class="rbSpace" (click)="filterResults()">2</mat-radio-button>
                        <mat-radio-button value="3" class="rbSpace" (click)="filterResults()">3</mat-radio-button>
                    </mat-radio-group>
                    <!--
                    <div class="example-selected-value">Your selected exam is: {{selectedDifficulty}}
</div>
-->
                    <hr>
                </div>


            </div>

            <br>

            <!-->right side </!-->
            <div class="filterRightSide col">
                <hr>
                <div class="filterProctoredDate">
                    Proctored Date Range:
                    <div class="row">
                        <div class="filterProctoredDateStart col">
                            <mat-form-field>
                                <input matInput class="dateInput" [matDatepicker]="pickerStart" placeholder="Choose a start date" [value]="date.value">
                                <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                                <mat-datepicker #pickerStart></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <!--                    {{date.value}}-->
                        <div class="filterProctoredDateEnd col">
                            <mat-form-field>
                                <input matInput class="dateInput" [matDatepicker]="pickerEnd" placeholder="Choose an end date" [value]="date.value">
                                <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                                <mat-datepicker #pickerEnd></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>

                </div>
                <hr>



                <div class="filterCognitiveLevel">
                    Question Cognitive Level:
                    <br>
                    <mat-radio-group [(ngModel)]="selectedCognitiveLevel">
                        <div class="row">
                            <div class="col">
                                <mat-radio-button (click)="filterResults()" value="1">Remembering</mat-radio-button>
                            </div>
                            <div class="col">
                                <mat-radio-button (click)="filterResults()" value="2">Analyzing</mat-radio-button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <mat-radio-button (click)="filterResults()" value="3">Applying</mat-radio-button>
                            </div>
                            <div class="col">
                                <mat-radio-button (click)="filterResults()" value="4">Understanding</mat-radio-button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <mat-radio-button (click)="filterResults()" value="5">Evaluating</mat-radio-button>
                            </div>
                            <div class="col">
                                <mat-radio-button (click)="filterResults()" value="6">Creating</mat-radio-button>
                            </div>
                        </div>
                    </mat-radio-group>
                    <hr>
                </div>

                <hr>

                <div class="filterTopicPick">
                    Topics
                    <form class="example-form">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Topic" value={{topics}}>
                        </mat-form-field>
                    </form>
                </div>

                <hr>
            </div>
        </div>


    </mat-card>
</div>