
    <div class="container">
    <mat-card class="card">
        <div class="questionPromptTextSearch">
            <b>Search by Prompt</b>
            <form class="example-form">
                <mat-form-field class="form-field">
                    <input type="text" placeholder="Prompt Search" aria-label="Prompt" matInput [formControl]="myControl" [matAutocomplete]="auto" [(ngModel)]="inputText">
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            {{option.name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </form>

        </div>
        <br>
        <div class="row">
            <div class="filterLeftSide col">

                <hr>
                <div class="filterQType">
                    <b>Exam:</b>
                    <br>
                    <mat-radio-group [(ngModel)]="examChoice">
                        <mat-radio-button [value]="allExams" class="rbSpace">All Exams</mat-radio-button>
                        <mat-radio-button [value]="myExams" class="rbSpace">Only my exams</mat-radio-button>
                    </mat-radio-group>
                </div>
                
                <hr>
                <div class="filterProctoredDate">
                    <b>Proctored Date Range:</b>
                    <div class="row">
                        <div class="filterProctoredDateStart col">
                            <mat-form-field>
                                <input matInput class="dateInput" [matDatepicker]="pickerStart" placeholder="Choose a start date" [formControl]="dateStart" ng-model = "dateStart" >
                                <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                                <mat-datepicker #pickerStart></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <!--                    {{date.value}}-->
                        <div class="filterProctoredDateEnd col">
                            <mat-form-field>
                                <input matInput class="dateInput" [matDatepicker]="pickerEnd" placeholder="Choose an end date" [formControl]="dateEnd" ng-model = "dateEnd">
                                <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                                <mat-datepicker #pickerEnd></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>

                </div>
               <!-- <hr>
                <div class="filterExamPick">
                    Exam #:
                    <br>
                    <mat-radio-group class="example-radio-group" [(ngModel)]="selectedExam">
                        <mat-radio-button class="example-radio-button rbSpace" *ngFor="let exam of exams" [value]="exam">
                            {{exam}}
                            <br>
                        </mat-radio-button>
                    </mat-radio-group>
                    <!--<div class="example-selected-value">Your selected exam is: {{selectedExam}}</div>
                </div>-->
                <hr>

                <div class="filterQType">
                    <b>Question Type:</b>
                    <br>
                    <section class="difficulty-section">
                        <mat-checkbox class="difficultyMargin" [(ngModel)]="multipleChoice">Multiple Choice</mat-checkbox>
                        <mat-checkbox class="difficultyMargin" [(ngModel)]="programming">Programming</mat-checkbox>
                    </section>
                    
                </div>
                
                <hr>

            </div>

            <br>

            <!-->right side </!-->
            <div class="filterRightSide col">
                
                <hr>
                <div class="filterQDifficulty">
                    <b>Question Difficulty:</b>
                    <br>

                    <section class="difficulty-section">
                        <mat-checkbox class="difficultyMargin" [(ngModel)]="difficultyOne">1</mat-checkbox>
                        <mat-checkbox class="difficultyMargin" [(ngModel)]="difficultyTwo">2</mat-checkbox>
                        <mat-checkbox class="difficultyMargin" [(ngModel)]="difficultyThree">3</mat-checkbox>
                    </section>
                <hr>
                    
                </div>


                <div class="filterCognitiveLevel">
                    <b>Question Cognitive Level:</b>
                    <br>
                    <section>
                        <mat-checkbox class="difficultyMargin" [(ngModel)]="cognitiveRemembering">Remembering</mat-checkbox>
                        <mat-checkbox class="difficultyMargin" [(ngModel)]="cognitiveAnalyzing">Analyzing</mat-checkbox>
                        <mat-checkbox class="difficultyMargin" [(ngModel)]="cognitiveApplying">Applying</mat-checkbox>
                        <mat-checkbox class="difficultyMargin" [(ngModel)]="cognitiveUnderstanding">Understanding</mat-checkbox>
                        <mat-checkbox class="difficultyMargin" [(ngModel)]="cognitiveEvaluating">Evaluating</mat-checkbox>
                        <mat-checkbox class="difficultyMargin" [(ngModel)]="cognitiveCreating">Creating</mat-checkbox>
                    </section>
                    
                </div>

                <hr>
                <div class="submissionBtn">
                    <button class="btn btnSize" (click)="onSubmit()"><b>Submit</b></button>
                </div>
                
                

                <!--<div class="filterTopicPick">
                    Topics
                    <form class="example-form">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Topic" value={{topics}}>
                        </mat-form-field>
                    </form>
                </div>

                <hr>-->
            </div>
            
        </div>

        



    </mat-card>
</div>
