.container {
    margin: auto;
    font-size: 16px;
    color: lightgray;
    padding: 10px;
}

.card {
    background-color: ghostwhite;
}

.filterLeftSide {
    margin: 3px;
    max-width: 45%;
    min-width: 45%;
}

.filterRightSide {
    margin: 3px;
    max-width: 45%;
    min-width: 45%;
}

.titleText {
    color: black;
}
