<div class="container">
    <h5>
      Question Statistics:
    </h5>

    <hr>
<mat-card class="card">
  <div class=stat-table>
    <table>
      <tr>
        <td class="stat-name"> Total Times Question Used:</td>
        <td class="value"> <strong>(n/a)</strong> </td>
      </tr>

      <tr>
        <td class="stat-name">Total Responses: </td>
        <td class="value"> <strong>(n/a)</strong> </td>
      </tr>

      <tr>
        <td class="stat-name">Response Rate:</td>
        <td class="value"> <strong>(n/a)</strong> </td>
      </tr>

      <tr>
        <td class="stat-name">Raw Correct %: </td>
        <td class="value"> <strong>(n/a)</strong> </td>
      </tr>

      <tr>
        <td class="stat-name">Correct % of Respondents: </td>
        <td class="value"> <strong>(n/a)</strong> </td>
      </tr>

      <tr>
        <td class="stat-name">Average Time Taken: </td>
        <td class="value"> <strong>(n/a)</strong> </td>
      </tr>

      <tr>
        <td class="stat-name">Discriminant Value: </td>
        <td class="value"> <strong>(n/a)</strong> </td>
      </tr>

    </table>
      
  </div>
    </mat-card>
</div>