<div class="container">
    <h5>
      Question Statistics
    </h5>

    <hr>

  <div class=stat-table>
    <table>
      <tr>
        <td class="stat-name"> Total Times Question Used:</td>
        <td class="value"> <strong>{{timesQuestionUsed}}</strong> </td>
      </tr>

      <tr>
        <td class="stat-name">Total Responses: </td>
        <td class="value"> <strong>{{totalResponses}}</strong> </td>
      </tr>

      <tr>
        <td class="stat-name">Response Rate:</td>
        <td class="value"> <strong>{{responseRate}}</strong> </td>
      </tr>

      <tr>
        <td class="stat-name">Raw Correct %: </td>
        <td class="value"> <strong>{{rawCorrectPercentage}}</strong> </td>
      </tr>

      <tr>
        <td class="stat-name">Correct % of Respondents: </td>
        <td class="value"> <strong>{{correctPercentRespondants}}</strong> </td>
      </tr>

      <tr>
        <td class="stat-name">Average Time Taken: </td>
        <td class="value"> <strong>{{averageTimeTaken}}</strong> </td>
      </tr>

      <tr>
        <td class="stat-name">Discriminant Value: </td>
        <td class="value"> <strong>{{discriminantValue}}</strong> </td>
      </tr>

    </table>
  </div>
</div>