td{
    padding-top: 5px;
}

h5{
    padding-top: 15px;
    text-align: center;
}

.stat-name{
    color: darkslateblue;
    text-align: right;
}

.container{
    margin: auto;
    width: 500px;
    height: 350px;
    border-radius: 10px;
}

.value{
    margin-left: 40%;
    font-style: italic;
    text-align: center;
}

.stat-table{
    padding-bottom: 15px;
}